*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
background:#050507;
font-family:'Poppins',sans-serif;
display:flex;
justify-content:center;
align-items:center;
color:white;
overflow:hidden;
}

/* glow */

.bgGlow{
position:absolute;
width:60vw;
height:60vw;
background:radial-gradient(circle,#ff4d6d,#7b2cbf);
filter:blur(180px);
opacity:.3;
}

/* container */

.container{
text-align:center;
max-width:700px;
padding:40px;
}

/* lines */

.line{
font-family:'Playfair Display';
font-size:clamp(26px,5vw,40px);
opacity:0;
transform:translateY(30px);
animation:fadeUp 2s forwards;
}

#line2{
animation-delay:2s;
}

@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}

/* button */

#revealBtn{
margin-top:60px;
padding:14px 28px;
border:none;
border-radius:14px;
background:#ffffff10;
color:white;
font-size:16px;
cursor:pointer;
opacity:0;
animation:fadeUp 2s forwards;
animation-delay:4s;
}

/* answer */

#answer{
margin-top:60px;
font-family:'Playfair Display';
font-size:clamp(30px,5vw,46px);
letter-spacing:.6px;
line-height:1.5;
opacity:0;
transition:opacity 1.5s ease;
}

/* cinematic typing cursor */

.cursor{
display:inline-block;
width:3px;
height:1em;
background:white;
margin-left:6px;
animation:blink 1s infinite;
}

@keyframes blink{
0%,100%{opacity:0;}
50%{opacity:1;}
}

#finalLine{
margin-top:50px;
font-family:'Playfair Display';
font-size:clamp(26px,4vw,38px);
opacity:0;

transform:translateY(30px); /* start slightly lower */

transition:
opacity 2s ease,
transform 2s ease;

line-height:1.6;
letter-spacing:.5px;
}


