*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
background:#040405;
display:flex;
justify-content:center;
align-items:center;
font-family:'Playfair Display',serif;
color:white;
overflow:hidden;
position:relative;
}

/* glow */

.glow{
position:absolute;
width:75vw;
height:75vw;
background:radial-gradient(circle,#ff8fab,#cdb4db);
filter:blur(240px);
opacity:.10;
}

/* center */

.container{
width:85%;
max-width:520px;
text-align:center;
}

/* typing text */

#typeText{
font-size:clamp(26px,5vw,36px);
line-height:1.6;
letter-spacing:.6px;
}

/* cursor */

.cursor{
display:inline-block;
width:3px;
height:1.2em;
background:white;
margin-left:6px;
animation:blink 1s infinite;
}

@keyframes blink{
0%,100%{opacity:0;}
50%{opacity:1;}
}

/* secret button */

#secretBtn{
margin-top:40px;
font-size:14px;
opacity:.35;
cursor:pointer;
transition:.4s;
}

#secretBtn:hover{
opacity:.7;
}

/* SECRET PAGE IMAGE */

.memory{
width:92%;
max-width:520px;
text-align:center;
}

.memory img{
width:100%;
height:55vh;
object-fit:contain;
background:#000;
border-radius:22px;
padding:8px;
box-shadow:0 35px 90px rgba(0,0,0,.7);
margin-bottom:30px;
}
